<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <bean name="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" scope="singleton">
        <property name="dataSource" ref="dataSource"/>
        <property name="applicationContextSchedulerContextKey" value="applicationContextKey"/>
        <property name="configLocation" value="classpath:quartz.properties"/>
    </bean>


    <!-- 属性文件读入 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>
    <!-- 数据源定义,使用c3p0 连接池 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.driverClassName}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="initialPoolSize" value="${cpool.minPoolSize}"/>
        <property name="minPoolSize" value="${cpool.minPoolSize}"/>
        <property name="maxPoolSize" value="${cpool.maxPoolSize}"/>
        <property name="acquireIncrement" value="${cpool.acquireIncrement}"/>
        <property name="maxIdleTime" value="${cpool.maxIdleTime}"/>
    </bean>

    <!-- 在这个配置文件上传的路径-->
    <bean id="fileUploadHelper" class="com.sohu.quartz.utils.FileUploadHelper" scope="singleton">
        <property name="uploadDir" value="/Users/SongJiao/test"/>
    </bean>
    <bean id="quartzDao" class="com.sohu.quartz.dao.QuartzDao">
        <property name="datasource" ref="dataSource"/>
    </bean>

    <bean id="schedulerManager" class="com.sohu.quartz.manager.imp.SchedulerManagerImp">
        <property name="scheduler" ref="quartzScheduler"/>
        <property name="quartzDao" ref="quartzDao"/>
    </bean>


    <bean id="jobProcessController" class="com.sohu.quartz.controller.JobProcessController">
        <property name="schedulerManager" ref="schedulerManager"/>
        <property name="fileUploadHelper" ref="fileUploadHelper"/>
    </bean>


    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="10000000"/>
    </bean>

    <bean id="fileUploadController" class="com.sohu.quartz.controller.FileUploadController">
        <property name="fileUploadHelper" ref="fileUploadHelper"/>
    </bean>



</beans>