<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- Main plugin class -->
    <class>org.jivesoftware.openfire.plugin.IMMonitorPlugin</class>


    <name>IM Monitor</name>
    <description>一个发送及时监控消息的组件</description>
    <author>songjiao</author>
    <version>1.0</version>
    <date>20/6/2010</date>
    <minServerVersion>3.6.0</minServerVersion>
    <databaseKey>imMonitor</databaseKey>
    <databaseVersion>1</databaseVersion>

    <!-- Admin console entries

    <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="immonitor" name="${pf.summary.title}"
                    url="pf-main.jsp"
                    description="${pf.summary.title}" />
            </sidebar>
         </tab>
    </adminconsole>

-->
    <adminconsole>
    <tab id="tab-server">
        <sidebar id="immonitor-main" name="IM监控组件"
                 description="IM监控组件">
            <item id="groups" name="消息接收组"
                  url="group-summary.jsp"
                  description="显示消息接收组"/>
            <item id="addgroup" name="新建组"
                  url="group-create.jsp"
                  description="新建消息接收组"/>
            <item id="users" name="用户"
                  url="user-summary.jsp"
                  description="显示用户"/>

            <item id="users" name="新建用户"
                  url="user-create.jsp"
                  description="新建用户"/>
            

        </sidebar>

    </tab>
</adminconsole>

        </plugin>